[Unit]
Description=APRS iGate container
Requires=docker.service
After=docker.service

[Service]
# Uncomment to have systemd automatically restart this process if it fails
#Restart=always
# Systemd isn't very good at environment variables with spaces in them, so you have to do it like this
Environment='COMMENT=RaspberryPi + RTL-SDR + Direwolf'
# You must fill in MYCALL & APRS_PASSWORD for this to work
# To send a PBEACON for this station, uncomment and fill in LATITUDE, LONGITUDE and (optionally) COMMENT
# To set an IGFILTER, uncomment and fill in the IGFILTER line
ExecStart=/usr/bin/docker run --name docker-igate --privileged \
	-e MYCALL= \
	-e APRS_PASSWORD= \
#	-e IGFILTER= \
#	-e LATITUDE= \
#	-e LONGITUDE= \
#	-e COMMENT=${COMMENT} \
	johnboiles/pi-rtlsdr-igate
ExecStop=/usr/bin/docker stop -t 2 docker-igate
ExecStopPost=/usr/bin/docker rm -f docker-igate

[Install]
WantedBy=default.target
